In [1]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.ensemble import RandomForestClassifier

In [2]:
col_names = ['id', 'alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'run_ID', 'rerun_ID', 'cam_col',
            'field_ID', 'spec_obj_ID', 'redshift', 'plate', 'MJD', 'fiber_ID', 'class']
data = pd.read_csv("celestial_train.csv", header=0, skiprows=1, names=col_names, low_memory=False)

In [3]:
data.head()

,id,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID,class
0,1,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427,GALAXY
1,2,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775,GALAXY
2,3,340.995121,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741,QSO
3,4,200.290475,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719,GALAXY
4,5,39.149691,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,-0.000008,2444,54082,232,STAR

In [4]:
independent_vars = ['id', 'alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'run_ID', 'rerun_ID', 'cam_col',
                    'field_ID', 'spec_obj_ID', 'redshift', 'plate', 'MJD', 'fiber_ID']
X = data[independent_vars]
y = data['class']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1)

In [6]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [12]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.96172

In [13]:
data2 = pd.read_csv("celestial_test.csv", skiprows=1, names=col_names[:-1], low_memory=False)

In [14]:
data2.head()

,id,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
0,50000,130.521054,41.410096,21.09561,21.05629,21.21334,20.84272,20.76479,2825,301,2,163,9.339455e+18,1.763559,8295,57401,420
1,50001,357.767944,29.092857,22.55494,21.28405,19.82980,19.31651,19.05588,8116,301,2,217,7.335498e+18,0.207361,6515,56536,945
2,50002,357.625690,9.406146,22.37098,21.78472,21.20800,21.09382,20.91056,7880,301,2,27,6.935816e+18,1.035354,6160,56190,992
3,50003,358.135320,-6.675477,23.38517,22.60383,20.91480,19.82566,19.51926,8100,301,5,307,8.045900e+18,0.524245,7146,56573,797
4,50004,338.249135,18.398989,24.63465,21.81505,21.94105,20.00961,22.82689,8096,301,4,90,8.535567e+18,-0.000074,7581,56949,434

In [15]:
X_test_2 = data2

In [16]:
clf2 = DecisionTreeClassifier()
clf2 = clf.fit(X_train, y_train)
y_pred_2 = clf.predict(X_test_2)

In [17]:
predictions_df = pd.DataFrame({'id': X_test_2['id'], 'output': y_pred_2})

In [18]:
predictions_df.to_csv('predictions.csv', index=False)